
.btn{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 1vw;
	color: #223046;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
  border: 1px solid #BFC4CD;
  cursor: pointer;
}

.btn:hover{
color: #fff;
background: #223046;
}